<% game = announcement %>
<li id="game_<%= game.id %>">
	<div class="heading"><%= link_to "Game #{game.id}", game %> - <%= pluralize(game.players.count, 'player', 'players') %></div>
	<div class="info">started by <%=h game.owner.name %> <%= time_ago_in_words(game.created_at) %> ago</div>
</li>
