<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
			 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Games: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'chaos' %>
	<%= stylesheet_link_tag 'thickbox' %>
	<%= stylesheet_link_tag *(@stylesheets.uniq) if @stylesheets %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-1.2.3.min.js' %>
	<%= javascript_include_tag 'chaos.js' %>
	<%= javascript_include_tag 'thinbox.js' %>
	<%= javascript_include_tag *(@javascripts.uniq) if @javascripts %>
</head>
<body>
<div class="login_bar">
	<% if logged_in? %>
		<strong>Greetings</strong>, O great wizard <%=h current_user.login %>! <%= link_to 'Edit user', edit_user_path %> | <%= link_to 'Log out', logout_url %>
	<% else %>
		<%= link_to 'Log in', login_url %> | <%= link_to 'Register', new_user_path %> (not required, but allows you to resume a game after disconnecting)
	<% end %>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
